body {
    font-family: Arial, sans-serif;
}

.cases {
    width: 350px;
    height: 60px;
}
.title {
    font-size: 18pt;
    color: darkgrey;  
}
.county {
}
.sum {
}
.byline {
    font-size: 9pt;
    color: grey;  
}