body {
    font-family: Arial, sans-serif;
    color: rgb(100, 100, 100);  
    background-color: lightgray;
}
b {
    color: rgb(40,40,40);
}
.cases {
    width: 350px;
    background-color: white;
}
.title {
    font-size: 18pt;
    padding-bottom: 3pt;
}
.county {
}
.sum {
}
.byline {
    font-size: 9pt;
    color: grey;  
}