body {
    font-family: Arial, sans-serif;
    font-size: 11pt;
    color: rgb(100, 100, 100);  
    background-color: white;
}
b {
    color: rgb(40,40,40);
}
table {
    border-color: #fff;
    border-collapse: collapse;
}
thead {
    color: darkorange;
    background-color: rgb(250, 250, 250);
    border-color: #fff;
    font-size: 10pt;
}
tbody {
    vertical-align: top;
    text-align: right;
    border-bottom: 1px solid #ddd;
}
.week_begin {
    text-align: left;
}
.county {
    text-align: left;
}

.case_count {
    padding: 4px;
}
.title {
    font-size: 16pt;
    padding-bottom: 3pt;
}
.byline {
    font-size: 9pt;
    color: grey;  
}
