arcgis>=1.8
bs4
tzlocal
autopep8
requests
selenium>=3.141
# This has to match your installed google-chrome
# so this version is probably not for you, it currently works with Chrome 83 and 85 is installed.
# chromedriver-binary
jinja2
# There is a bug in camelot if you install the latest pdfminer
pdfminer.six==20200517
camelot-py>=0.8.0
pyexcel-ods3
