arcgis>=1.8
bs4
tzlocal
autopep8
requests
selenium>=3.141
chromedriver-binary
jinja2
# There is a bug in camelot if you install the latest pdfminer
pdfminer.six==20200517
camelot-py>=0.8.0
pyexcel_ods3
