<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta http-Equiv="Cache-Control" Content="no-cache, no-store">
    <meta http-Equiv="Pragma" Content="no-cache">
    <meta http-Equiv="Expires" Content="0">
</head>
<link rel="stylesheet" type="text/css" href="static/ms.css" />

<body>

    {% block page_content %}
    <div id="rural" class="cases">
    </div>

    <div class="byline">
        source: {{source|safe}}
        last edit: {{last_update}}
        &nbsp; update: {{localnow}}
    </div>
    {% endblock %}

</body>
</html>