<!DOCTYPE html>
<html>
    <head>
        <title>OHA cases</title>
    </head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='ms.css')}}" />
    <body>

        {% block page_content %}
        <div id="rural" class="cases">
            <div class="title">HPO1 {{region}} ({{source}})</div>
            <div class="sum">Total: {{df['total_cases'].sum()}}</div>

            {%for i in range(0,df.shape[0])%}
                <div>
                    <div class="county">{{df.loc[i, "name"]}} County</div>
                    Cases: <b>{{df.loc[i, "total_cases"]}}</b> 
                    Negative tests: <b>{{df.loc[i, "total_negative"]}}</b>
                    Deaths: <b>{{df.loc[i, "total_deaths"]}}</b>
                    <hr />
                </div>
            {%endfor%}
            last edit {{last_update}}
        </div>
        {% endblock %}
    </body>
</html>