<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta http-Equiv="Cache-Control" Content="no-cache, no-store">
    <meta http-Equiv="Pragma" Content="no-cache">
    <meta http-Equiv="Expires" Content="0">
</head>
<link rel="stylesheet" type="text/css" href="static/ms.css" />

<body>

    <div id="rural" class="cases">
        <div class="title">County Metrics, Region 1 Rural</div>
        July 5 - July 25
        <table>
            <thead>
            <tr>
                <th>County</th>
                <th>Week begin</th>
                <th>Case rate <br />per 100,000</th>
                <th>Test Positive <br /> Rate</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td rowspan="3" class="county"><b>Clatsop</b></td>
                <td class="date">7/5/20</td>
                <td>9.9</td>
                <td>2.3%</td>
            </tr>
            <tr>
                <td class="date">7/12/20</td>
                <td>17.4</td>
                <td>2.2%</td>
            </tr>
            <tr>
                <td class="date">7/19/20</td>
                <td>14.9</td>
                <td>0.6%</td>
            </tr>
            <tr>
                <td rowspan="3" class="county"><b>Columbia</b></td>
                <td class="date">7/5/20</td>
                <td>17.2</td>
                <td>3.3%</td>
            </tr>
            <tr>
                <td class="date">7/12/20</td>
                <td>24.8</td>
                <td>1.9%</td>
            </tr>
            <tr>
                <td class="date">7/19/20</td>
                <td>15.3</td>
                <td>1.9%</td>
            </tr>
            <tr>
                <td rowspan="3" class="county"><b>Tillamook</b></td>
                <td class="date">7/5/20</td>
                <td>7.4</td>
                <td>2.4%</td>
            </tr>
            <tr>
                <td class="date">7/12/20</td>
                <td>25.9</td>
                <td>3.0%</td>
            </tr>
            <tr>
                <td class="date">7/19/20</td>
                <td>3.7</td>
                <td>0.9%</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div id="metro" class="cases">
    </div>

    <div class="byline">
        source: OHA
        &nbsp; update: 7//31/2020
    </div>

</body>

</html>