<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta http-Equiv="Cache-Control" Content="no-cache, no-store">
    <meta http-Equiv="Pragma" Content="no-cache">
    <meta http-Equiv="Expires" Content="0">
</head>
<link rel="stylesheet" type="text/css" href="static/ms.css" />

<body>

    <div id="rural" class="cases">
        <div class="title">County Metrics HPO1 Rural</div>
        {{ date_range }}
        <table>
            <thead>
            <tr>
            {% for h in headers %}
                <th>{{ h }}</th>
            {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for row in table %}
            <tr>
                <td class="county">{{ row[0] }}</td>
                <td class="date">{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="metro" class="cases">
    </div>

    <div class="byline">
        source: <a href="https://www.oregon.gov/oha/PH/DISEASESCONDITIONS/DISEASESAZ/Emerging%20Respitory%20Infections/Weekly-County-Metrics.pdf">OHA</a>
        &nbsp; update: {{ now }}
    </div>

</body>

</html>
