{% extends "bootstrap/base.html" %}

{% block title %}Base title, override this.{% endblock %}
{% block head %}
    {{ super() }}
    <link href="static/main.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <img src="static/logo.png" width="48" height="48" alt="The map46 logo"/>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="form1">form 1</a></li>
                <li><a href="form2">Form 2</a></li>
                <li><a href="about">About</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}
